/* logo */

.nav__logo {
  // display: flex;
  margin-right: 93px;
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;

  @media screen and (max-width: 767px) {
    margin-right: 0;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 80px;

    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.logo {
  color: #000000;

  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  &__item {
    color: var(--accent-color);
  }
}
