.content {
  color: #ffffff;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
}

.content__bottom {
  display: flex;
  height: 16px;
  min-width: 189px;
  align-items: center;
}
