.footer__logo,
.footer__nav {
  color: #ffffff;
}

.footer__logo {
  display: flex;
  margin-bottom: 20px;
}

.footer__nav {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
