.regular-customers {
  display: block;
  text-align: center;

  &__container {
    padding-bottom: 94px;
    padding-top: 94px;

    @media screen and (max-width: 767px) {
      padding-bottom: 60px;
      padding-top: 60px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-bottom: 60px;
      padding-top: 60px;
    }
  }
}
@media screen and (max-width: 767px) {
  .regular-customers {
    display: flex;
  }
}

.section__icons {
  display: flex;
  padding: 0;
  margin: 0;

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.icons__link {
  fill: #afb1b8;
}

.menu__icons {
  display: flex;
  width: 171px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  transition: var(--animation);

  &:hover,
  &:focus {
    border-color: #2196f3;
    fill: #2196f3;
  }
}

@media screen and (max-width: 767px) {
  .menu__icons {
    width: 210px;
  }
  .menu__icons:nth-last-child(even) {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu__icons {
    width: 226px;
  }
  .menu__icons:nth-last-child(even) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .menu__icons:not(:last-child) {
    margin-right: 30px;
  }
}
