:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --buttos-bg-color: #f5f4fa;

  --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
